// =============================================================================
// Mixins
// =============================================================================
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

// =============================================================================
// Appbar Component
// =============================================================================
.Appbar {
    @include size(100%, auto);
    overflow: hidden;
    text-align: center;
}