@import "../generycs/variables";
@import "../generycs/mixins";
// =============================================================================
// -- CartBlock Component
// =============================================================================
.CartBlock {
    margin: 5px auto;
    margin-left: 0px;
    padding: 0 16px;
    // flex-props
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    @media #{$breakpoint-tablet-land} {
        padding: 0;
        margin-right: 0;
    }

    .shoppingCartIcon {
        @include size(25px, 21px);
        display: block;
    }

    span {
        font-weight: 700;
        @include font-size(15px);
        @include line-height(21px);
        color: $orange;
    }
}