@import "../generycs/variables";
@import "../generycs/mixins";
// =============================================================================
// -- CatalogOrderSelector Component
// =============================================================================
.CatalogOrderSelector {
    @include size(135px, auto);
    // padding: 0 4px;
    // background-color: $lightGrey-3;

    .order-selector {
        font-family: 'Lato', sans-serif;
        @include font-size(14px);
    }

    .Select-control {
        background-color: $lightGrey-3;
        border: $lightGrey-3;
        @include border-radius(0px);
    }

    .is-open {
        & > .Select-control {
            background-color: $lightGrey-3;
            border: $lightGrey-3;
        }
    }

    //

    .Select-menu-outer {
        border: $lightGrey-3;
        @include border-radius(0px);
    }
}