@import "../generycs/variables";
@import "../generycs/mixins";
// =============================================================================
// -- CatalogOrderSelector Component
// =============================================================================
.CatalogOrderSelector {
    @include size(135px, auto);

    .order-selector {
        font-family: 'Lato', sans-serif;
        @include font-size(14px);
    }

    .Select-control {
        background-color: $lightGrey-3;
        border: $lightGrey-3;
        @include border-radius(0px);


        @media #{$breakpoint-tablet-land} {
            height: 50px;
        }
    }

    .is-open {
        & > .Select-control {
            background-color: $lightGrey-3;
            border: $lightGrey-3;
        }
    }

    .Select-menu-outer {
        border: $lightGrey-3;
        @include border-radius(0px);
    }

    .Select-placeholder, .Select--single > .Select-control .Select-value {
        @include line-height(48px);
    }
}