@import "../generycs/variables";
@import "../generycs/mixins";
// =============================================================================
// -- ColorSelector Component
// =============================================================================
.ColorSelector {
    @include size(100%, auto);
    // flex
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    em {
        @include font-size(16px);
        @include line-height(36px);
        font-weight: 900;
        margin: auto;
        margin-left: 0px;
        margin-top: 0px;

        @media #{$breakpoint-tablet-land} {
            @include font-size(19px);
            @include line-height(37px);
        }

        @media #{$breakpoint-laptop-small} {
            width: 80px;
            margin-right: 40px;
        }
    }

    .color-container {
        margin: auto;

        @media #{$breakpoint-tablet-land} {
            margin-left: 0px;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        @media #{$breakpoint-laptop-small} {
            height: 37px;
        }

        li {
            @include size(25px, 25px);
            @include border-radius(50%);
            border: 1px solid $black;
            overflow: hidden;
            margin: auto 10px;
            display: block;
            cursor: pointer;

            @media #{$breakpoint-laptop-small} {
                @include size(12px, 12px);
            }
        }
    }

    p {
        @include size(auto, 36px);
        @include font-size(16px);
        @include line-height(36px);
        font-style: italic;
    }
}