@import "../generycs/variables";
@import "../generycs/mixins";
// =============================================================================
// -- ColorSelector Component
// =============================================================================
.ColorSelector {
    @include size(100%, auto);
    // flex
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    em {
        @include font-size(16px);
        @include line-height(36px);
        font-weight: 900;
        margin: auto;
        margin-left: 0px;
        margin-top: 0px;
    }

    .color-container {
        margin: auto;
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        li {
            @include size(25px, 25px);
            @include border-radius(50%);
            border: 1px solid $black;
            overflow: hidden;
            margin: auto 10px;
            display: block;
            cursor: pointer;
        }
    }

    p {
        @include size(auto, 36px);
        @include font-size(16px);
        @include line-height(36px);
        font-style: italic;
    }
}