@import "../generycs/variables";
@import "../generycs/mixins";
// =============================================================================
// -- ContactBlock Component
// =============================================================================
.ContactBlock {
    @include size(100%, auto);
    overflow: hidden;
    margin: 0 auto 16px;
    background-color: $lightGrey;
    //
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;

    &-item {
        flex-basis: 100%;

        &:first-child {
            padding: 16px;
        }
    }

    // TEXTS
    h2 {
        font-weight: 900;
        @include font-size(22px);
        @include line-height(38px);
        color: $darkBlue;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
    }

    p {
        font-weight: 700;
        @include font-size(16px);
        @include line-height(22px);
        color: $ultraDarkGray;
        text-align: center;
    }

    // MAP
    iframe {
        @include size(100%, auto);
        min-height: 250px;
        border: none;
    }
}