@import "../generycs/variables";
@import "../generycs/mixins";
// =============================================================================
// -- ContactBlock Component
// =============================================================================
.ContactBlock {
    @include size(100%, auto);
    overflow: hidden;
    margin: 0 auto 16px;
    background-color: $lightGrey;
    //
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;

    @media #{$breakpoint-laptop-small} {
        margin-bottom: 50px;
    }

    &-item {
        flex-basis: 100%;

        &:first-child {
            padding: 16px;
        }

        @media #{$breakpoint-tablet-land} {
            flex-basis: 50%;
        }

        @media #{$breakpoint-laptop-small} {
            &:first-child {
                padding: 30px 55px;
            }
        }
    }

    // TEXTS
    h2 {
        font-weight: 900;
        @include font-size(20px);
        @include line-height(36px);
        color: $darkBlue;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
        
        @media #{$breakpoint-smartphone-medium} {
            @include font-size(22px);
            @include line-height(38px);
        }
    }

    p {
        font-weight: 700;
        @include font-size(14px);
        @include line-height(20px);
        color: $ultraDarkGray;
        text-align: center;
        margin-bottom: 20px;

        @media #{$breakpoint-smartphone-medium} {
            @include font-size(16px);
            @include line-height(22px);
        }
    }

    // MAP
    iframe {
        @include size(100%, auto);
        min-height: 250px;
        border: none;

        @media #{$breakpoint-tablet-land} {
            min-height: 489px;
        }
        @media #{$breakpoint-laptop-small} {
            min-height: 517px;
        }
    }
}