@import "../generycs/variables";
@import "../generycs/mixins";
// =============================================================================
// -- CartBlock Component
// =============================================================================
.MainImageSlider {

    .image-gallery-image {
        @include size(100%, auto);
        background-color: $lightGrey-3;

        @media #{$breakpoint-tablet-land} {
            position: relative;        
        }

        img {
            @include size(100%, auto);
            display: block;
        }

        figcaption {
            @include size(100%, auto);
            overflow: hidden;
            padding: 10px;
            padding-bottom: 35px;
            text-align: center;

            @media #{$breakpoint-smartphone-medium} {
                padding-bottom: 50px;
            }

            @media #{$breakpoint-tablet-land} {
                @include size(40%, 100%);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                padding: 24px;
                padding-bottom: 24px;
                text-align: left;
            }

            h3 {
                font-weight: 900;
                @include font-size(20px);
                @include line-height(36px);
                color: $darkBlue;
                text-transform: uppercase;
                margin-bottom: 10px;

                @media #{$breakpoint-smartphone-medium} {
                    @include font-size(22px);
                    @include line-height(38px);
                }
            }

            p {
                font-weight: 700;
                @include font-size(14px);
                @include line-height(20px);
                white-space: normal;
                color: $ultraDarkGray;
                margin-bottom: 20px;

                @media #{$breakpoint-smartphone-medium} {
                    @include font-size(16px);
                    @include line-height(22px);
                }
            }

            .btn_action {
                display: inline-block;
                margin: 20px auto 10px;
            }
        }
    }

    .new-product-tag {
        @include size(90px, 30px);
        background-color: $white;
        overflow: hidden;
        display: block;
        margin: 0 auto 17px;
        // text
        @include font-size(18px);
        @include line-height(30px);
        text-align: center;
        color: $black;
        font-weight: 900;

        @media #{$breakpoint-tablet-land} {
            margin-top: 35%;
            margin-left: 0;
        }
    }

    .image-gallery-bullets {
        .image-gallery-bullet {
            @include size(10px, 10px);
            padding: 0 !important;
            background: $white;
            box-shadow: none;

            &.active {
                background: $darkBlue;
                border-color: $darkBlue;
            }
        }
    }

}