@import "../generycs/variables";
@import "../generycs/mixins";
// =============================================================================
// -- CartBlock Component
// =============================================================================
.MainImageSlider {

    .image-gallery-image {
        @include size(100%, auto);
        background-color: $lightGrey-3;

        img {
            @include size(100%, auto);
            display: block;
        }

        figcaption {
            @include size(100%, auto);
            padding: 10px;
        }
    }


    .image-gallery-bullets {
        .image-gallery-bullet {
            @include size(10px, 10px);
            padding: 0 !important;
            background: $white;
            box-shadow: none;

            &.active {
                background: $darkBlue;
                border-color: $darkBlue;
            }
        }
    }

}