@import "../generycs/variables";
@import "../generycs/mixins";
// =============================================================================
// -- Merchandising Component
// =============================================================================
.MerchandisingComponent {
    @include size(100%, auto);
    overflow: hidden;
    margin: 0 auto 16px;
    //
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;

    @media #{$breakpoint-laptop-small} {
        margin-bottom: 50px;
    }

    .merchandising-item {
        flex-basis: 100%;
        height: 280px;
        background-color: $lightGrey;

        &:last-child {
            padding: 16px;
        }

        @media #{$breakpoint-tablet-land} {
            flex-basis: 50%;
            height: 350px;

            //
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: center;
        }

        @media #{$breakpoint-laptop-small} {
            &:last-child {
                padding: 30px;
            }
        }
    }

    img {
        @include size(100%, 100%);
        object-fit: cover;
        display: block;
    }

    // TEXTS
    h2 {
        font-weight: 900;
        @include font-size(20px);
        @include line-height(36px);
        color: $darkBlue;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
        
        @media #{$breakpoint-smartphone-medium} {
            @include font-size(22px);
            @include line-height(38px);
        }
    }

    p {
        font-weight: 400;
        @include font-size(14px);
        @include line-height(20px);
        color: $darkGray;
        text-align: center;

        @media #{$breakpoint-smartphone-medium} {
            @include font-size(16px);
            @include line-height(22px);
        }
    }
}