@import "../generycs/variables";
@import "../generycs/mixins";
// =============================================================================
// -- Search Component
// =============================================================================
.Search {
    position: absolute;
    right: 16px;
    top: 22px;

    &-btn {
        @include size(29px, 29px);
        @include border-radius(0px);
        background-color: $white;
        border: none;
    }
}