@import "../generycs/variables";
@import "../generycs/mixins";
// =============================================================================
// -- CartBlock Component
// =============================================================================
.UserBlock {
    margin: 5px auto;
    margin-left: 0px;
    padding: 0 16px;
    // flex-props
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;


    a {
        @include font-size(15px);
        @include line-height(22px);
        text-transform: uppercase;
        font-weight: 700;

        &:first-child {
            font-weight: 900;
        }
    }

    .divider {
        @include size(2px, 22px);
        display: inline-block;
        border-right: 2px solid $lightGrey-2;
        margin: auto 12px;
    }
}