// =============================================================================
// - Form elements containers
// =============================================================================
.form-control {
  @include size(100%, auto);
  margin: 0 auto 20px;
  @include placeholder($black);
}
// =============================================================================
// -  Inputs
// =============================================================================
input {
  @include size(100%, 49px);
  @include border-radius(6px);
  border: 1px solid $darkBlue;
  display: block;
  padding: 0 16px;
  // text
  font-family: 'Open Sans';
  @include font-size(18px);
  @include line-height(47px);
  color: $black;
  &.error{
    color: $red;
  }
}

button[disabled=false] {
  cursor: pointer;
}