// =============================================================================
// - Form elements containers
// =============================================================================
.form-control {
  @include size(100%, auto);
  margin: 0 auto 20px;
  @include placeholder($black);
}
// =============================================================================
// -  Inputs
// =============================================================================
input {
  @include size(100%, 39px);
  @include border-radius(50px);
  border: 1px solid $white;
  background-color: $white;
  display: block;
  padding: 0 16px;
  // text
  font-family: 'Lato', sans-serif;
  @include font-size(16px);
  @include line-height(37px);
  color: $ultraDarkGray;
  text-align: center;

  &.error{
    color: $red;
  }
}


textarea {
  @include size(100%, 78px);
  @include border-radius(50px);
  border: 1px solid $white;
  background-color: $white;
  display: block;
  padding: 0 16px;
  // text
  font-family: 'Lato', sans-serif;
  @include font-size(16px);
  @include line-height(37px);
  color: $ultraDarkGray;
  text-align: center;

  &.error{
    color: $red;
  }
}


button[disabled=false] {
  cursor: pointer;
}