// =============================================================================
// - Generycs elements
// =============================================================================
*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
  @include transition(2ms);
}

body {
  background-color: $white;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: $black;

  &.up-hidden {
    overflow: hidden;
  }
}

// =============================================================================
// - TEXTS
// =============================================================================

// share button
.at-expanding-share-button-desktop,
.at-expanding-share-button-mobile  {
  display: none !important;
  visibility: hidden;
}